.statsLayout {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  border-radius: 10px;
}

.statsCard {
  height: 150px;
  width: 200px;
  background-color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
