.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.heading h1 {
  font-size: 50px;
  margin-top: 20px;
  text-align: center;
}

.heading p {
  text-align: center;
  font-size: 20px;
}
